<launch>
  <!-- Arguments -->
  <!--<arg name="cmd_vel_topic" default="/raw_cmd_vel" />-->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/rf2o_laser_odometry/odom" />		
  <arg name="map_topic" default="/map" />				<!-- #如果想要使用虚拟地图，default=/map2/map -->
  <!-- <arg name="move_forward_only" default="false"/> -->

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  
    <rosparam file="$(find ebot_bringup)/param/move_base_config.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="map" to="$(arg map_topic)" />   
    <!-- <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" /> -->
  </node>
</launch>
 
